*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --primary-grey-color: rgb(147, 136, 136);
}

body {
  width: 50%;
  font-family: 'PT Sans', sans-serif;
  padding-left: 30px;
  margin: auto;
}

/* Header */
.search-country-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.search-country-container label {
  font-size: 30px;
  text-align: center;
  padding-bottom: 20px;
}

.search-country-container input {
  padding: 15px 0px 15px 10px;
  border: 1px solid var(--primary-grey-color);
  outline: none;
  border-radius: 5px;
  font-size: 16px;
}

.search-country-container input:focus {
  border: 2px solid var(--primary-grey-color);
}

.search-btn {
  padding: 12px 25px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  border-radius: 8px;
  border: none;
  transition: 0.5s ease;
  margin-top: 20px;
  align-self: center;
  width: 40%;
}

.search-btn:hover {
  color: white;
  background-color: var(--primary-grey-color);
  box-shadow: 0 0 1px 3px #888;
}

/* Main */
.main-container {
  border: 2px solid var(--primary-grey-color);
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  margin-top: 20px;
}

.main-header {
  border: none;
  border-bottom: 2px solid var(--primary-grey-color);
  box-shadow: 0px 0px 1px 1px #888;
  padding: 20px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.main-header:hover {
  box-shadow: 0 0 2px 1px #888;
}

.main-header img{
  width: 50px;
  height: 30px;
  border-radius: 4px;
  box-shadow: 0px 0px 1px 1px #888;
}

.main-header .material-symbols-outlined {
  font-size: 40px;
  cursor: pointer;
}

.main-header span {
  width: 50px;
}

/* Body text */
.main-body {
  padding: 10px;
}

.main-body p {
  padding: 10px 0 5px 0;
  font-weight: bold;
  font-size: 18px;
}

.main-body span {
  font-weight: 400;
}

.display-none {
  display: none;
}

@media(max-width: 798px){
  body{
    width: 100%;
    padding: 30px;
  }
  .search-country-container label {
    font-size: 24px;
  }

  .search-btn {
    align-self:stretch;
    width: 100%;
  }

  .main-header {
    padding: 10px 0 15px 6px;
  }

  .main-header h3 {
    font-size: 18px;
  }

  .main-header .material-symbols-outlined {
    font-size: 30px;
    cursor: pointer;
  }

  .main-body p{
    font-size: 14px;
    padding-top: 5px;
  }
}